# Ignore all node_modules folders anywhere
node_modules/

dist/
build/
coverage/
*.log
*.tsbuildinfo
.env
.env.*
.DS_Store
Thumbs.db

# IDE/editor files
.idea/

# VSCode: ignore all by default, allow shared files
.vscode/*
!.vscode/launch.json
.vscode/launch.local.json
