<html>
  <head>
    <meta charset="utf-8" />
    <title>Itinerary</title>
  </head>
  <body>
    {{#days}}
    <h2>Day {{dayId}}</h2>
    <table>
      <thead>
        <tr>
          <th>Arrive</th>
          <th>Depart</th>
          <th>Stop</th>
          <th>Type</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        {{#stops}}
        {{> stop}}
        {{/stops}}
      </tbody>
    </table>
    {{/days}}
  </body>
</html>
